@import './cart.scss';
@import './products.scss';


// $el: 100;
// @for $i from 1 through $el {
//   .test-#{$i} {
//     color: yellow;
//     font-size: $i + px;
//   }
// }

#root{
  max-width: 900px;
}

a{
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover{
  color: #000;
  text-decoration: none;
}

.page-tit{
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
}

.gnb{
  margin: 10px 0 10px 10px;
  ul{
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
  }
}